/* custome font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;800&display=swap");
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

/* global design */
* {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.logo {
  width: 150px;
  max-width: 100%;
}
/* color */
.signup-bg {
  background-color: hsl(217, 28%, 15%);
}
.main-bg {
  background-color: hsl(217, 28%, 15%);
}
.footer-bg {
  background-color: hsl(216, 53%, 9%);
}
.testimonials-bg {
  background-color: hsl(219, 30%, 18%);
}
.cyan {
  background-color: hsl(176, 68%, 64%);
}
.blue {
  background-color: hsl(198, 60%, 50%);
}
.error {
  color: hsl(0, 100%, 63%);
}
.text {
  color: hsl(0, 0%, 100%);
}
/* heading font */
.heading-font {
  font-size: 2.8rem;
}
.c-img {
  width: 45px;
  height: 45px;
}
.margin-0 {
  margin: 0;
}
img.quote {
  width: 50px;
  height: 30px;
  position: absolute;
}
.custome-margin {
  margin: 100px auto;
}
.icon {
  width: 23px;
  height: 23px;
}
.padding-0 {
  padding: 0;
}
li.cusotom-icon-style {
  padding: 5px;
  border: 1px solid hsl(198, 60%, 50%);
  border-radius: 50%;
}
